/* Schach Welzheim Farben */
[data-md-color-primary="custom"] {
  --md-primary-fg-color: #106933;
  --md-primary-fg-color--light: #188a44;
  --md-primary-fg-color--dark: #094721;
}

/* Färbt alle Hauptüberschriften (H1) im Content-Bereich in euer Vereinsgrün ein */
.md-content h1 {
  color: #106933; /* Passe den Hex-Code ganz einfach an euren exakten Grünton an */
}

/* Macht den Titel in der Kopfzeile auf allen Geräten sicher klickbar */
.md-header__title {
  cursor: pointer;
}
.md-header__title a {
  color: inherit;
  text-decoration: none;
}
