/* Schach Welzheim Farben */
[data-md-color-primary="custom"] {
  --md-primary-fg-color: #106933;
  --md-primary-fg-color--light: #188a44;
  --md-primary-fg-color--dark: #094721;
}

/* Färbt alle Hauptüberschriften (H1) im Content-Bereich in euer Vereinsgrün ein */
.md-content h1 {
  color: #106933; /* Passe den Hex-Code ganz einfach an euren exakten Grünton an */
}

/* Versteckt den automatischen Seitentitel (z.B. "Startseite") ganz oben im Inhalt */
.md-content__inner > h1:first-child {
  display: none;
}
